<% var students %>
<% if(typeof student == 'object' && student) { %>
<% students = student; %>
<% } else { %>
<% students = {firstName: "", middleName: "", lastName: "", phone: "", dateOfBirth: "", email: "", gender: ""} %>
<% } %>
<% if(students.firstName != '') { %>
<form action="/students/edit/<%= students.id %>" method="POST" role="form">
<% } else { %>
<form action="/student" method="POST" role="form">
<% } %>
  <legend>Student details</legend>
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input type="text" class="form-control" name="firstName" id="" placeholder="First Name" value="<%= students.firstName %>" pattern="[a-zA-Z]+" required>
    <label for="middle-name">Middle Name</label>
    <input type="text" class="form-control" name="middleName" id="" placeholder="Middle Name" value="<%= students.middleName %>" pattern="[a-zA-Z]+" required>
    <label for="last-name">Last Name</label>
    <input type="text" class="form-control" name="lastName" id="" placeholder="Last Name" value="<%= students.lastName %>" pattern="[a-zA-Z]+" required>
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" name="mobile" id="" placeholder="+234 XXX XXX XXXX" value="<%= students.mobile %>" pattern="[0-9]{13}">
    <label for="last-name">Date of Birth</label>
    <input type="date" class="form-control" name="dateOfBirth"  data-date-format="mm-dd-yyyy" id="" placeholder="mm/dd/yyyy" value="<%= formatDate(students.dateOfBirth) %>" required>
    <label for="last-name">E-mail</label>
    <input type="email" class="form-control" name="email" id="" placeholder="sample@email.com" value="<%= students.email %>">
    <label for="last-name">Gender</label>
    <select name="gender" class="form-control" placeholder='female'>
      <!-- <option value="" placeholder="Male"></option> -->
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <!-- <input type="dropdown" class="form-control" name="gender" id="" placeholder="Male"  value="<%= students.gender %>"> -->
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% function formatDate(date) { %>
<%   var d = new Date(date); %>
<%   var month = '' + (d.getMonth() + 1); %>
<%   var day = '' + d.getDate(); %>
<%   var year = d.getFullYear(); %>
<%    if (month.length < 2) month = '0' + month; %>
<%    if (day.length < 2) day = '0' + day; %>
<%    return [year, month, day].join('-'); %>
<% } %>