<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <% if(student.gender == 'male') { %>
          <img src="/images/male.jpg" alt="image" width="300px">
          <% } else { %>
            <img src="/images/female.jpg" alt="image" class="img-responsive" width="300px">
            <% } %>
      </div>
      <div class="col-md-8">
      	<h1><%= student.firstName %> <%= student.lastName %></h1>
        <div class="display-inline-block">
          <a href="/students/edit/<%= student.id %>" class="btn btn-success">Edit Student Record</a>
          <form class="display-inline-block" action="/student/delete/<%= student.id %>" method="POST">
            <button class="btn btn-warning">Delete Student Record</button>
          </form>
        </div>
        <a href="/students" class="btn btn-inf">Go back</a>
      </div>
    </div>
  </div>
</div>
<div class="container student-information">
  <div class="row">
    <div class="col-md-6">
      <h1>Personal Information</h1>
      <p>Phone Number: <%= student.mobile %></p>
      <p>Email: <%= student.email %></p>
      <p>Date of Birth: <%= formatDate(student.dateOfBirth) %></p>
      <p>Religion: <%= student.religion %></p>
    </div>
    <div class="col-md-6">
      <h1>Academic Information</h1>
      <p>Course: <%= student.course %></p>
      <p>Level: <%= student.level %></p>
      <p>Grade: <%= student.grade %></p>
      <p>Date registered: <%= formatDate(student.createdAt) %></p>
    </div>
  </div>
</div>


<% function formatDate(date) { %>
<%   var d = new Date(date); %>
<%   var month = '' + (d.getMonth() + 1); %>
<%   var day = '' + d.getDate(); %>
<%   var year = d.getFullYear(); %>
<%    if (month.length < 2) month = '0' + month; %>
<%    if (day.length < 2) day = '0' + day; %>
<%    return [year, month, day].join('-'); %>
<% } %>