<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-inline-block"><%= student.firstName %> <%= student.lastName %>	
			</h1>	
			<div class="display-inline-block pull-right">
				<a href="/students/edit/<%= student.id %>" class="btn btn-success">Edit Student Record</a>
				<form class="display-inline-block" action="/student/delete/<%= student.id %>" method="POST">
				<button class="btn btn-danger">Delete Student Record</button>
				</form>
			</div>

		</div>
	</div>
	<img src="https://api.adorable.io/avatars/300/wolverine.png" class="img-responsive">
	<p>First Name: <%= student.firstName %></p>
	<p>Middle Name: <%= student.middleName %></p>
	<p>Last Name: <%= student.lastName %></p>
	<p>Admission Year: </p>
	<p>Date of birth: <%= student.dateOfBirth %></p>
	<p>Gender: <%= student.gender %></p>
	<p>Religion: <%= student.religion %></p>
</div>